<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.porsche.com/middle-east/fr/_tunisia_/"target="_blank">
          Porsche
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.leoni.com/en/"target="_blank"  >
          About Us
        </a>
      </li>
      
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made with
      <i class=" tim-icons icon-heart-2"> </i> by
      <a href="https://www.linkedin.com/in/bassem-gueldiche-5182432a0/" target="_blank"> Bassem Gueldiche </a>
      for a better web.
    </div>
  </div>
</footer>
